pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    display: block;
    padding: 9.5px;
    margin: 5% 10%;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body {
    font-family: {{ base_font_family }};
}

/* span { */
/*     display: block; */
/* } */

/* THE ABYSS */

.ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
/*
.body_foreground { color: #AAAAAA; }
.body_background { background-color: #fdf6e3; }
.body_foreground > .bold,.bold > .body_foreground, body.body_foreground > pre > .bold { color: #FFFFFF; font-weight: normal; }
*/
.inv_foreground { color: #000000; }
.inv_background { background-color: #AAAAAA; }
.ansi1 { font-weight: bold; }
.ansi2 { font-weight: lighter; }
.ansi3 { font-style: italic; }
.ansi4 { text-decoration: underline; }
.ansi5 { text-decoration: blink; }
.ansi6 { text-decoration: blink; }
.ansi8 { visibility: hidden; }
.ansi9 { text-decoration: line-through; }
.ansi30 { color: #262626; }
.inv30 { background-color: #262626; }
.ansi31 { color: #d70000; }
.inv31 { background-color: #d70000; }
.ansi32 { color: #5f8700; }
.inv32 { background-color: #5f8700; }
.ansi33 { color: #af8700; }
.inv33 { background-color: #af8700; }
.ansi34 { color: #0087ff; }
.inv34 { background-color: #0087ff; }
.ansi35 { color: #af005f; }
.inv35 { background-color: #af005f; }
.ansi36 { color: #00afaf; }
.inv36 { background-color: #00afaf; }
.ansi37 { color: #e4e4e4; }
.inv37 { background-color: #e4e4e4; }
.ansi40 { background-color: #262626; }
.inv40 { color: #262626; }
.ansi41 { background-color: #d70000; }
.inv41 { color: #d70000; }
.ansi42 { background-color: #5f8700; }
.inv42 { color: #5f8700; }
.ansi43 { background-color: #af8700; }
.inv43 { color: #af8700; }
.ansi44 { background-color: #0087ff; }
.inv44 { color: #0087ff; }
.ansi45 { background-color: #af005f; }
.inv45 { color: #af005f; }
.ansi46 { background-color: #00afaf; }
.inv46 { color: #00afaf; }
.ansi47 { background-color: #e4e4e4; }
.inv47 { color: #e4e4e4; }
