<!DOCTYPE html5>
<html>
  <head>
    <title>Builds|Packuilon</title>
  </head>
  <body>
    <table id="running">
    {% for build in running_builds|sort(reverse=True, attribute='start_time') %}
      <tr>
        <td><span class="running-icon"></span></td>
        <td><span class="build-name">{{ build.name }}</span></td>
      </tr>
    {% endfor %}
    </table>
    <table id="finished">
    {% for build in finished_builds|sort(attribute='end_time') %}
      <tr>
        <td><span class="{{ build.status }}-icon"></span></td>
        <td><span class="build-name">{{ build.name }}</span></td>
        <td><span class="build-end-date">Finished {{ display_end_time(build) }}</span></td>
        <td><span class="build-duration">Ran for {{ display_build_duration(build) }}</span></td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>
