<!DOCTYPE html5>
<html>
  <head>
    <title>Builds | Packuilon</title>
    <link href="css/monitor.css" rel="stylesheet"/>
  </head>
  <body>


    <table id="running">
    {% for build in running_builds|sort(reverse=True, attribute='start_time') %}
      <tr>
        <td><span class="running-icon"></span></td>
        <td><span class="build-name">
          {{ build.name }}.{{ build.start_time }}
        </span></td>
      </tr>
    {% endfor %}
    </table>


    <table id="finished">
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th></th> <!-- Spacing. -->
        <th>Started</th>
        <th></th> <!-- Spacing. -->
        <th>Ran for</th>
      </tr>
      <tr>
    {% for build in finished_builds %}
        <td><span class="{{ build.status }}-icon"></span></td>

        <td><a href="log/{{ build.path }}" class="log-link"><span class="build-name">
          {{ build.name }}
        </span></a></td>

        <td></td> <!-- Spacing -->

        <td><span class="build-start-time">
          {{ display_start_time(build) }}
        </span></td>

        <td></td> <!-- Spacing -->

        <td><span class="build-duration">
          {{ display_build_duration(build)|safe }}
        </span></td>

      </tr>
    {% endfor %}
    </table>


  </body>
</html>
