<!DOCTYPE html5>
<html>
  <head>
    <title>Builds | Packuilon</title>
    <link href="css/monitor.css" rel="stylesheet"/>
  </head>
  <body>

    <h1>Packuilon Builds</h1>

    <table id="running">
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th></th> <!-- Spacing. -->
        <th>Started</th>
      </tr>

      {% for build in running_builds %}
      <tr>
        <td class="status">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
          <!-- <span class="running-icon"></span> --> </td>
        <td><a href="/log/{{ build.path }}" class="log-link"><span class="build-name">
          {{ build.name }}
        </span></a></td>
        <td></td>
        <td class="build-start-time">
          {{ display_start_time(build) }}
        </td>
      </tr>
      {% endfor %}
    </table>


    <table id="finished">
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th></th> <!-- Spacing. -->
        <th>Started</th>
        <th></th> <!-- Spacing. -->
        <th>Ran for</th>
      </tr>
      <tr>
        {% for build in finished_builds %}
        <td class="status"><span class="{{ build.status }}-icon"></span></td>

        <td><a href="/log/{{ build.path }}" class="log-link"><span class="build-name">
          {{ build.name }}
        </span></a></td>

        <td></td> <!-- Spacing -->

        <td><span class="build-start-time">
          {{ display_start_time(build) }}
        </span></td>

        <td></td> <!-- Spacing -->

        <td><span class="build-duration">
          {{ display_build_duration(build)|safe }}
        </span></td>

      </tr>
      {% endfor %}
    </table>


  </body>
</html>
