.spinner {
  width: 23px;
  height: 23px;

  position: relative;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: orange;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

p {
    font-family: {{ base_font_family }};
}

h1 {
    font-family: {{ base_font_family }};
    color: #bfbfbf;
    font-size: 1.5em;
}

td.status {
    text-align: center;
}

table {
    font-family: {{ base_font_family }};
    border-collapse: separate;
    border-spacing: 15px 5px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

th {
    font-weight: bold;
    color: black;
}

tr:nth-child(3) {
    padding: 50px;
}

body {
    margin: 5% 10%;
}

a.log-link {
    color: #2A5DB0;
    text-decoration: none;
}

a.log-link:visited {
    color: #2A5DB0;
}

span.passed-icon {
    color: green;
    font-size: {{ icon_font_size }};
}

span.passed-icon::before {
    content: "\2714"; /* Unicode HEAVY CHECK */
}


span.failed-icon {
    color: red;
    font-size: {{ icon_font_size }};
}

span.failed-icon::before {
    content: "\2718"; /* Unicode HEAVY BALLOT CROSS */
}

span.cancelled-icon {
    color: red;
    font-size: {{ icon_font_size }};
}

span.cancelled-icon::before {
    content: "\20E0"; /* Unicode COMBINING ENCLOSING CIRCLE BACKSLASH */
                 /* i.e. the `no'-sign symbol                    */
}

span.running-icon {
    color: orange;
    font-size: {{ icon_font_size }};
}

span.ran-for-cancelled {
    font-style: italic;
}
